.DS_Store
__pycache__/*
__pycache__
samples/*
safe/*
amazon-rekognition/cv_amazon_integration.py
amazon-rekognition/cv_amazon_upload.py
amazon-rekognition/par_amazon.py
amazon-rekognition/README.md
amazon-rekognition/README_amazon.txt
google-vision/cv_google_integration.py
google-vision/par_google_integration-example.py
google-vision/par_google_integration.py
